*.class
/out
.idea/workspace.xml
*.tsx
/target
/src/main/resources/config.yaml
/src/main/scripts/obs/battle-images/current/red1.png
/src/main/scripts/obs/battle-images/current/red2.png
/src/main/scripts/obs/battle-images/current/red3.png
/src/main/scripts/obs/battle-images/current/blue1.png
/src/main/scripts/obs/battle-images/current/blue2.png
/src/main/scripts/obs/battle-images/current/blue3.png
/src/main/scripts/obs/battle-images/future/red1.png
/src/main/scripts/obs/battle-images/future/red2.png
/src/main/scripts/obs/battle-images/future/red3.png
/src/main/scripts/obs/battle-images/future/blue1.png
/src/main/scripts/obs/battle-images/future/blue2.png
/src/main/scripts/obs/battle-images/future/blue3.png
/src/main/scripts/obs/teams.txt
/src/main/scripts/obs/outcome.txt